<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management</title>
<link rel="stylesheet" href="css/general.css">
<style>
.center {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 70px 0;
 
}
</style>
</head>
<body>
<div class="center">
	<h2>Welcome to your employee management system.</h2>
	<p>Click below to enter!</p>
	<a th:href="@{/home}">Enter</a>
	</div>
</body>
</html>